/* styles.css */

/* Reset default margin and padding */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#title,
#pwd {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#access-note,
#save-note {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#access-note:hover,
#save-note:hover {
    background-color: #0056b3;
}

.note-editor {
    display: none;
    margin-top: 20px;
}

#note-textarea {
    width: 95%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
}

.existing-note {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
